*,body{
  margin: 0;
  line-height: 1.5;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
}


.container{
  display: flex;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
}

/*** Main content ***/
.content{
  background-color: #fff;
  width: 300px;
  margin: auto;
  border-radius: 15px;
  font-size: 0.8rem;
  color: hsl(229, 23%, 23%);
  overflow: hidden;
  z-index: 1;
}

.main-content .vic-img{
  border: 6px solid white;
  border-radius: 50%;
  margin-top: -60px;
}

.main-content span, .main-content p{
  font-weight: lighter;
  color: hsl(0, 0%, 59%);
}

.main-content .social-media{
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

/*** BG images ***/
.container .bg-content{
  position: absolute;
}

.bg-content .bg-top{
  position: absolute;
  right: 50%;
  bottom: 50%;
}

.bg-content .bg-bottom{
  position: absolute;
  left: 50%;
  top: 50%;
}


@media screen and(min-width: 500px) {
  .bg-content{
    display: none;
  }
}
